<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Coffee Shop</title>
</head>

<body>
    <header class="header">

        <nav class="nav_bar">
        <h1 class="nav-title">O'Coffee Shop</h1>
        <a class="navbar-logo" href="#"><img src="../../docs/demande-client/00.assets/logo.svg"
                        alt="Logo coffee shop" height="60"></a>
        <ul class="navbar_menu">
            <li>
             <a class="nav-link active"href="#">Accueil</a>
            </li>
          <li class="nav-item">
                        <a class="nav-link" href="#">Catalogue</a>
            </li>
            <li class="nav-item">
                        <a class="nav-link" href="#">Boutique</a>
            </li>
            <li> <a href="#" class="nav_connexion_button">Connexion</a>
                    </li>
        </ul>

        </nav>
    </header>
