<%- include('partials/header') %>
<body class="body404">
    <nav>
        <img class="img404" src="../../docs/demande-client/00.assets/logo.svg" alt="Logo">
    </nav>
     <div class="main_container404">
        <p class="p404">Erreur 404 la page demandée n'existe pas</p>
        <p class="p404">Retour à l'accueil</p>
     </div> 
<%- include('partials/footer') %>
    </body>
    </html>