<%- include('partials/header') %>
<main>
    <div class="product-container">
        <div class="product-image">
            <img class="product-image" src="../../docs/demande-client/00.assets/coffees/302932754.png" alt="Café Ethiopian">
        </div>
        <div class="product-details">
            <h1 class="product-title ">Ethiopian Yirgacheffe</h1>
            <p class="product-description">Réputé pour son arôme floral, son acidité vive et ses notes de saveur
                citronnée.</p>

            <ul class="product-specifications">
                <li><strong>Référence :</strong>105589090</li>
                <li><strong>Origine:</strong> Ethiopie</li>
                <li><strong>Caractéristique:</strong>Fruité</li>
                <li><strong>Disponibilité:</strong> Oui</li>
            </ul>

            <div class="product-price">
                <span>22.50 $ le kilo

                </span>
            </div>

            <button class="add-to-cart">Ajouter au panier</button>
        </div>
    </div>
</main>
<%- include('partials/footer') %>
</body>

</html>